<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main class="container">
    <h1 class="text-center">Achievements</h1>
    <th:block th:each="a : ${achievements}">
        <div class="container">
            <div class="text-center bg-blur">
                <h3><span th:text="${a.getName()}"></span></h3>
                <br>
                <!--                <th:block th:if="${a.isComplete()}">-->
                <!--                    <h3>Progress: <span th:text="${a.getTarget()}"></span>:-->
                <!--                        <span th:text="${a.getTarget()}"></span></h3>-->
                <!--                </th:block>-->
                <!--                <th:block th:unless="${a.isComplete()}">-->
                <!--                    <th:block th:if="${a.getCurrentResult() < a.getTarget()}">-->
                <!--                        <h3>Progress: <span th:text="${a.getCurrentResult()}"></span>:-->
                <!--                            <span th:text="${a.getTarget()}"></span></h3>-->
                <!--                    </th:block>-->
                <!--                    <th:block th:unless="${a.getCurrentResult() < a.getTarget()}">-->
                <!--                        <h3>Progress: <span th:text="${a.getTarget()}"></span>:-->
                <!--                            <span th:text="${a.getTarget()}"></span></h3>-->
                <!--                    </th:block>-->
                <!--                </th:block>-->
                <th:block th:if="${a.getCurrentResult() < a.getTarget()}">
                    <h3>Progress: <span th:text="${a.getCurrentResult()}"></span>:
                        <span th:text="${a.getTarget()}"></span></h3>
                </th:block>
                <th:block th:unless="${a.getCurrentResult() < a.getTarget()}">
                    <h3>Progress: <span th:text="${a.getTarget()}"></span>:
                        <span th:text="${a.getTarget()}"></span></h3>
                </th:block>
                <br>
                <h3>Prize: <span th:text="${a.getPrize()}"></span></h3>
                <br>
                <th:block th:if="${a.getCurrentResult() >= a.getTarget()}">
                    <h3>Completed</h3>
                    <br>
                    <th:block th:if="${!a.isComplete()}">
                        <h3>Button</h3>
                    </th:block>
                </th:block>
                <!--                <th:block th:unless="${a.isComplete()}">-->
                <!--                    <h3>Completed</h3>-->
                <!--                    <h3>Button</h3>-->
                <!--                    <form th:action="@{'/acheievements/details'}"-->
                <!--                          th:object="${name}"-->
                <!--                          method="post">-->
                <!--                        <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"-->
                <!--                               class="form-control">-->
                <!--                        <th:block th:if="${item.getLevel() > hero.getLevel()}">-->
                <!--                            <h5> <span th:text="${item.getLevel()}"></span> ниво</h5>-->
                <!--                        </th:block>-->
                <!--                        <th:block th:unless="${item.getLevel() > hero.getLevel()}">-->
                <!--                            <button class="btn btn-info">Buy</button>-->
                <!--                        </th:block>-->
                <!--                </th:block>-->
            </div>
        </div>
    </th:block>
    <br>
    <div class="col text-center">
        <a class="btn btn-secondary" th:href="@{'/home'}">Back</a>
    </div>
    <br>
    <br>
    <br>
    <br>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>