<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<script type="text/javascript" src="/js/window.js"></script>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container">
        <div class="text-center bg-blur">
            <div class="row">
                <div class="text-center bg-blur">
                    <h2 class="align-middle">Name: <span th:text="${details.getName()}"></span></h2>
                </div>
                <br>
                <div class="text-center bg-blur">
                    <img th:src="@{'/img/' + ${details.getHeroPicture()} + '.jpg'}" width="210"
                         height="300">
                </div>
                <br>
                <div class="col-md-6">
                    <h3 class="align-middle">Level:
                        <span th:text="${details.getLevel()}"></span></h3>
                </div>
                <div class="col-md-6">
                    <h3 class="align-middle">Points to next level:
                        <span th:text="${details.getCurrentPoints()}"></span> /
                        <span th:text="${details.getMaxPoints()}"></span></h3>
                </div>
                <br>
                <div class="col-md-4">
                    <h3 class="align-middle">Wins/Battles VS Player:
                        <br>
                        <span th:text="${details.getWinsVSPlayer()}"></span> /
                        <span th:text="${details.getBattlesWithPlayer()}"></span></h3>
                </div>
                <div class="col-md-4">
                    <h3 class="align-middle">Wins/Battles VS Bot:
                        <br>
                        <span th:text="${details.getWinsVSBot()}"></span> /
                        <span th:text="${details.getBattlesWithBot()}"></span></h3>
                </div>
                <div class="col-md-4">
                    <h3 class="align-middle">Wins/Battles VS Friend:
                        <br>
                        <span th:text="${details.getWinsVSFriend()}"></span> /
                        <span th:text="${details.getBattlesWithFriend()}"></span></h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Gauntlets</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                        <th scope="col">Sell</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getGauntlets()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><span th:text="${item.getLevel()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150"
                            height="240">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                            <td>
                                <form th:action="@{'/heroes/details/' + ${details.getName()}}"
                                      th:object="${name}"
                                      method="post">
                                    <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                           class="form-control">
                                    <button class="btn btn-info">Sell</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Helmets</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                        <th scope="col">Sell</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getHelmets()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><span th:text="${item.getLevel()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150"
                            height="240">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                            <td>
                                <form th:action="@{'/heroes/details/' + ${details.getName()}}"
                                      th:object="${name}"
                                      method="post">
                                    <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                           class="form-control">
                                    <button class="btn btn-info">Sell</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Pauldrons</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                        <th scope="col">Sell</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getPauldrons()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><span th:text="${item.getLevel()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150"
                            height="240">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                            <td>
                                <form th:action="@{'/heroes/details/' + ${details.getName()}}"
                                      th:object="${name}"
                                      method="post">
                                    <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                           class="form-control">
                                    <button class="btn btn-info">Sell</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Pads</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                        <th scope="col">Sell</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getPads()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><span th:text="${item.getLevel()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150"
                            height="240">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                            <td>
                                <form th:action="@{'/heroes/details/' + ${details.getName()}}"
                                      th:object="${name}"
                                      method="post">
                                    <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                           class="form-control">
                                    <button class="btn btn-info">Sell</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Weapons</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                        <th scope="col">Sell</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getWeapons()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><span th:text="${item.getLevel()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150"
                            height="240">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                            <td>
                                <form th:action="@{'/heroes/details/' + ${details.getName()}}"
                                      th:object="${name}"
                                      method="post">
                                    <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                           class="form-control">
                                    <button class="btn btn-info">Sell</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="col text-center">
                <a class="btn btn-secondary" th:href="@{'/heroes/select'}">Back</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>


