<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container">
        <div class="text-center bg-blur">
            <h1>Hero</h1>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="align-middle"><span th:text="${details.getName()}"></span></h3>
                    </div>
                    <div class="col-md-2">
                        <h3 class="align-middle"><span th:text="${details.getLevel()}"></span></h3>
                    </div>
                    <div class="col-md-5">
                        <img th:if="${details.getHelmet() == null}" class="mr-5 mb-1" width="100" height="90">
                        <img th:unless="${details.getHelmet() == null}" src="/img/helmet.jpg" class="mr-5 mb-1" width="100"
                             height="90">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img th:src="@{'/img/' + ${details.getGender().name()} + '.jpg'}"
                             alt="photo" class="align-middle" height="175"
                             width="150"/>
                    </div>
                    <div class="col-md-2">
                        <p class="align-content-center">Strength - <span
                                th:text="${details.getStrength()}"></span></p>
                        <p class="align-content-center">Stamina - <span
                                th:text="${details.getStamina()}"></span></p>
                        <p class="align-content-center">Attack - <span
                                th:text="${details.getAttack()}"></span></p>
                        <p class="align-content-center">Defence - <span
                                th:text="${details.getDefence()}"></span></p>
                    </div>
                    <div class="col-md-5">
                        <img th:if="${details.getWeapon() == null}" class="mr-5 mb-1" width="80"
                             height="130">
                        <img th:unless="${details.getWeapon() == null}" src="/img/weapon.jpg" class="mr-5 mb-1" width="80"
                             height="130">
                        <img th:if="${details.getPauldron() == null}" class="mr-5 mb-1" width="100"
                             height="130">
                        <img th:unless="${details.getPauldron() == null}" src="/img/pauldron.jpg" class="mr-5 mb-1" width="80"
                             height="130">
                        <img th:if="${details.getGauntlets() == null}" class="mr-5 mb-1" width="100"
                             height="130">
                        <img th:unless="${details.getGauntlets() == null}" src="/img/gauntlet.jpg" class="mr-5 mb-1" width="80"
                             height="130">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        <img th:if="${details.getPads() == null}" class="mr-5 mb-1" width="80" height="130">
                        <img th:unless="${details.getPads() == null}" src="/img/pads.jpg" class="mr-5 mb-1" width="80" height="130">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>