<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <!--    <div class="container">-->
    <!--        <div class="text-center bg-blur">-->
    <!--            <h1>Hero</h1>-->
    <!--            <div>-->
    <!--                <div class="row">-->
    <!--                    <div class="col-md-4">-->
    <!--                        <h3 class="align-middle"><span th:text="${details.getName()}"></span></h3>-->
    <!--                    </div>-->
    <!--                    <div class="col-md-2">-->
    <!--                        <h3 class="align-middle"><span th:text="${details.getLevel()}"></span></h3>-->
    <!--                    </div>-->
    <!--                    <div class="col-md-5">-->
    <!--                        <img th:if="${details.getHelmet() == null}" class="mr-5 mb-1" width="100" height="90">-->
    <!--                        <img th:unless="${details.getHelmet() == null}" src="/img/helmet.jpg" class="mr-5 mb-1" width="100"-->
    <!--                             height="90">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <div class="col-md-4">-->
    <!--                        <img th:src="@{'/img/' + ${details.getGender().name()} + '.jpg'}"-->
    <!--                             alt="photo" class="align-middle" height="175"-->
    <!--                             width="150"/>-->
    <!--                    </div>-->
    <!--                    <div class="col-md-2">-->
    <!--                        <p class="align-content-center">Strength - <span-->
    <!--                                th:text="${details.getStrength()}"></span></p>-->
    <!--                        <p class="align-content-center">Stamina - <span-->
    <!--                                th:text="${details.getStamina()}"></span></p>-->
    <!--                        <p class="align-content-center">Attack - <span-->
    <!--                                th:text="${details.getAttack()}"></span></p>-->
    <!--                        <p class="align-content-center">Defence - <span-->
    <!--                                th:text="${details.getDefence()}"></span></p>-->
    <!--                    </div>-->
    <!--                    <div class="col-md-5">-->
    <!--                        <img th:if="${details.getWeapon() == null}" class="mr-5 mb-1" width="80"-->
    <!--                             height="130">-->
    <!--                        <img th:unless="${details.getWeapon() == null}" src="/img/weapon.jpg" class="mr-5 mb-1" width="80"-->
    <!--                             height="130">-->
    <!--                        <img th:if="${details.getPauldron() == null}" class="mr-5 mb-1" width="100"-->
    <!--                             height="130">-->
    <!--                        <img th:unless="${details.getPauldron() == null}" src="/img/pauldron.jpg" class="mr-5 mb-1" width="80"-->
    <!--                             height="130">-->
    <!--                        <img th:if="${details.getGauntlets() == null}" class="mr-5 mb-1" width="100"-->
    <!--                             height="130">-->
    <!--                        <img th:unless="${details.getGauntlets() == null}" src="/img/gauntlet.jpg" class="mr-5 mb-1" width="80"-->
    <!--                             height="130">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="row">-->
    <!--                    <div class="col-md-4">-->
    <!--                    </div>-->
    <!--                    <div class="col-md-2">-->
    <!--                    </div>-->
    <!--                    <div class="col-md-5">-->
    <!--                        <img th:if="${details.getPads() == null}" class="mr-5 mb-1" width="80" height="130">-->
    <!--                        <img th:unless="${details.getPads() == null}" src="/img/pads.jpg" class="mr-5 mb-1" width="80" height="130">-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="container">
        <div class="text-center bg-blur">
            <div class="row">
                <div class="text-center bg-blur">
                    <h2 class="align-middle">Name: <span th:text="${details.getName()}"></span></h2>
                </div>
                <br>
                <div class="text-center bg-blur">
                    <img th:src="@{'/img/' + ${details.getGender().name().toLowerCase()} + '.jpg'}" width="150">
                </div>
                <br>
                <div class="col-md-6">
                    <h3 class="align-middle">Level: <span th:text="${details.getCurrentPoints()}"></span></h3>
                </div>
                <div class="col-md-6">
                    <h3 class="align-middle">Points to next level: <span th:text="${details.getCurrentPoints()}"></span>
                        /<span th:text="${details.getMaxPoints()}"></span></h3>
                </div>
                <!--                    <div class="col-md-5">-->
                <!--                        <img th:if="${details.getHelmet() == null}" class="mr-5 mb-1" width="100" height="90">-->
                <!--                        <img th:unless="${details.getHelmet() == null}" src="/img/helmet.jpg" class="mr-5 mb-1" width="100"-->
                <!--                             height="90">-->
                <!--                    </div>-->
            </div>
            <br>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Gauntlets</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getGauntlets()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Helmets</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getHelmets()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Pauldrons</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getPauldrons()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Pads</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getPads()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <div class="row">
                <div class="text-center bg-blur">
                    <h3 class="align-middle">Weapons</h3>
                </div>
                <hr class="hr-3"/>
                <table class="table bg-blur">
                    <thead>
                    <tr>
                        <th scope="col" class="font-weight-bold">Name</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Stamina</th>
                        <th scope="col">Strength</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Defence</th>
                    </tr>
                    </thead>
                    <th:block th:each="item : ${details.getWeapons()}">
                        <tbody>
                        <tr>
                            <td><span th:text="${item.getName()}"></span></td>
                            <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                            </td>
                            <td><span th:text="${item.getStamina()}"></span></td>
                            <td><span th:text="${item.getStrength()}"></span></td>
                            <td><span th:text="${item.getAttack()}"></span></td>
                            <td><span th:text="${item.getDefence()}"></span></td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>
            </div>
            <!--                <div class="row">-->
            <!--                    <div class="col-md-4">-->
            <!--                        <img th:src="@{'/img/' + ${details.getGender().name()} + '.jpg'}"-->
            <!--                             alt="photo" class="align-middle" height="175"-->
            <!--                             width="150"/>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-2">-->
            <!--                        <p class="align-content-center">Strength - <span-->
            <!--                                th:text="${details.getStrength()}"></span></p>-->
            <!--                        <p class="align-content-center">Stamina - <span-->
            <!--                                th:text="${details.getStamina()}"></span></p>-->
            <!--                        <p class="align-content-center">Attack - <span-->
            <!--                                th:text="${details.getAttack()}"></span></p>-->
            <!--                        <p class="align-content-center">Defence - <span-->
            <!--                                th:text="${details.getDefence()}"></span></p>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-5">-->
            <!--                        <img th:if="${details.getWeapon() == null}" class="mr-5 mb-1" width="80"-->
            <!--                             height="130">-->
            <!--                        <img th:unless="${details.getWeapon() == null}" src="/img/weapon.jpg" class="mr-5 mb-1" width="80"-->
            <!--                             height="130">-->
            <!--                        <img th:if="${details.getPauldron() == null}" class="mr-5 mb-1" width="100"-->
            <!--                             height="130">-->
            <!--                        <img th:unless="${details.getPauldron() == null}" src="/img/pauldron.jpg" class="mr-5 mb-1" width="80"-->
            <!--                             height="130">-->
            <!--                        <img th:if="${details.getGauntlets() == null}" class="mr-5 mb-1" width="100"-->
            <!--                             height="130">-->
            <!--                        <img th:unless="${details.getGauntlets() == null}" src="/img/gauntlet.jpg" class="mr-5 mb-1" width="80"-->
            <!--                             height="130">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="row">-->
            <!--                    <div class="col-md-4">-->
            <!--                    </div>-->
            <!--                    <div class="col-md-2">-->
            <!--                    </div>-->
            <!--                    <div class="col-md-5">-->
            <!--                        <img th:if="${details.getPads() == null}" class="mr-5 mb-1" width="80" height="130">-->
            <!--                        <img th:unless="${details.getPads() == null}" src="/img/pads.jpg" class="mr-5 mb-1" width="80" height="130">-->
            <!--                    </div>-->
            <!--                </div>-->
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>


