<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container">
        <div class="text-center bg-blur">
            <th:block th:if="${session.battleResult.getIsRaisedLevel() == true}">
                <div>
                    <h3 class="align-middle">Поздравления, достигна
                        <span th:text="${session.battleResult.getLevel()}"></span> ниво!!!
                    </h3>
                </div>
            </th:block>
            <th:block th:if="${session.battleResult.getResult().equals('draw')}">
                <div>
                    <h3 class="align-middle">Ти направи равен!</h3>
                </div>
            </th:block>
            <th:block th:unless="${session.battleResult.getResult().equals('draw')}">
                <div>
                    <h3 class="align-middle">Ти <span th:text="${session.battleResult.getResult()}"></span>!</h3>
                </div>
            </th:block>
            <th:block th:unless="${session.battleResult.getGame().equals('friend')}">
                <div>
                    <h3 class="align-middle">Ти получаваш</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="align-middle">
                                <span th:text="${session.battleResult.getPointsEarned()}"></span> точки</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="align-middle">
                                <span th:text="${session.battleResult.getGold()}"></span> злато</h3>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${(session.battleResult.getResult().equals('win')) &&
            ((session.selectedItems.getGame().equals('player')))}">
                <div>
                    <h3 class="align-middle">Освен това ти получаваш</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="align-middle">
                                <span th:text="${session.battleResult.getAttack()}"></span>
                                точки атака на героя</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="align-middle">
                                <span th:text="${session.battleResult.getDefence()}"></span>
                                точки защита на героя</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="align-middle">
                                <span th:text="${session.battleResult.getStamina()}"></span>
                                точки издръжливост на героя</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="align-middle">
                                <span th:text="${session.battleResult.getStrength()}"></span>
                                точки сила на героя</h3>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${session.battleResult.getResult().equals('win')}">
                <h3>Ако се жаден за още по битки избери си
                    <a href="/heroes/select">герой</a>, а ако искаш почивка отиди в
                    <a href="/home">home</a>.
                </h3>
            </th:block>
            <th:block th:unless="${session.battleResult.getResult().equals('win')}">
                <h3>Ако не си доволен от резултата натисни
                    <a href="/heroes/select">тук</a> и продължавай, а ако искаш почивка отиди в
                    <a href="/home">home</a>.
                </h3>
            </th:block>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="text-center bg-blur">
            <h1>Детайли</h1>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="align-middle"><span th:text="${session.myHero.getName()}"></span></h3>
                    </div>
                    <div class="col-md-6">
                        <h3 class="align-middle"><span th:text="${session.opponent.getName()}"></span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img th:src="@{'/img/' + ${session.myHero.getHeroPicture()} + '.jpg'}" width="210"
                             height="300">
                    </div>
                    <div class="col-md-6">
                        <img th:src="@{'/img/' + ${session.opponent.getHeroPicture()} + '.jpg'}" width="210"
                             height="300">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img th:if="${session.selectedItems.getHelmet() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.selectedItems.getHelmet() == null}"
                             th:src="@{'/img/' + ${session.selectedItems.getItemPictureHelmet()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                    <div class="col-md-6">
                        <img th:if="${session.itemsOfOpponent.getHelmet() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.itemsOfOpponent.getHelmet() == null}"
                             th:src="@{'/img/' + ${session.itemsOfOpponent.getItemPictureHelmet()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img th:if="${session.selectedItems.getWeapon() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.selectedItems.getWeapon() == null}"
                             th:src="@{'/img/' + ${session.selectedItems.getItemPictureWeapon()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                    <div class="col-md-2">
                        <img th:if="${session.selectedItems.getPauldron() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.selectedItems.getPauldron() == null}"
                             th:src="@{'/img/' + ${session.selectedItems.getItemPicturePauldron()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                    <div class="col-md-2">
                        <img th:if="${session.selectedItems.getGauntlets() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.selectedItems.getGauntlets() == null}"
                             th:src="@{'/img/' + ${session.selectedItems.getItemPictureGauntlets()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                    <div class="col-md-2">
                        <img th:if="${session.itemsOfOpponent.getWeapon() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.itemsOfOpponent.getWeapon() == null}"
                             th:src="@{'/img/' + ${session.itemsOfOpponent.getItemPictureWeapon()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                    <div class="col-md-2">
                        <img th:if="${session.itemsOfOpponent.getPauldron() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.itemsOfOpponent.getPauldron() == null}"
                             th:src="@{'/img/' + ${session.itemsOfOpponent.getItemPicturePauldron()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                    <div class="col-md-2">
                        <img th:if="${session.itemsOfOpponent.getGauntlets() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.itemsOfOpponent.getGauntlets() == null}"
                             th:src="@{'/img/' + ${session.itemsOfOpponent.getItemPictureGauntlets()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img th:if="${session.selectedItems.getPads() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.selectedItems.getPads() == null}"
                             th:src="@{'/img/' + ${session.selectedItems.getItemPicturePads()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                    <div class="col-md-6">
                        <img th:if="${session.itemsOfOpponent.getPads() == null}" class="mr-5 mb-1" width="100"
                             height="150">
                        <img th:unless="${session.itemsOfOpponent.getPads() == null}"
                             th:src="@{'/img/' + ${session.itemsOfOpponent.getItemPicturePads()} + '.jpg'}"
                             class="mr-5 mb-1" width="100" height="150">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Characteristics</th>
                <th scope="col">Me</th>
                <th scope="col">Opponent</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span>Level</span></td>
                <td><span th:text="${session.myHero.getLevel()}"></span></td>
                <td><span th:text="${session.opponent.getLevel()}"></span></td>
            </tr>
            <tr>
                <td><span>Result</span></td>
                <td><span th:text="${session.battleResult.getMyResult()}"></span></td>
                <td><span th:text="${session.battleResult.getOpponentResult()}"></span></td>
            </tr>
            <tr>
                <td><span>Attack</span></td>
                <td><span th:text="${session.battleResult.getMyAttack()}"></span></td>
                <td><span th:text="${session.battleResult.getOpponentAttack()}"></span></td>
            </tr>
            <tr>
                <td><span>Defence</span></td>
                <td><span th:text="${session.battleResult.getMyDefence()}"></span></td>
                <td><span th:text="${session.battleResult.getOpponentDefence()}"></span></td>
            </tr>
            <tr>
                <td><span>Stamina</span></td>
                <td><span th:text="${session.battleResult.getMyStamina()}"></span></td>
                <td><span th:text="${session.battleResult.getOpponentStamina()}"></span></td>
            </tr>
            <tr>
                <td><span>Strength</span></td>
                <td><span th:text="${session.battleResult.getMyStrength()}"></span></td>
                <td><span th:text="${session.battleResult.getOpponentStrength()}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>