<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <th:block th:if="${session.opponent == null}">
        <hr class="my-3"/>
        <div class="container">
            <div class="text-center">
                <h2>Няма герои, с които да се сражаваш.</h2>
            </div>
        </div>
    </th:block>
    <th:block th:unless="${session.opponent == null}">
        <div class="container">
            <div class="text-center bg-blur">
                <h1>Battle</h1>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="align-middle"><span th:text="${session.myHero.getName()}"></span></h3>
                        </div>
                        <div class="col-md-4">
                            <h3 class="align-middle"><span>vs</span></h3>
                        </div>
                        <div class="col-md-4">
                            <h3 class="align-middle"><span th:text="${session.opponent.getName()}"></span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img th:src="@{'/img/' + ${session.myHero.getHeroPicture()} + '.jpg'}" width="200"
                                 height="300">
                        </div>
                        <div class="col-md-6">
                            <img th:src="@{'/img/' + ${session.opponent.getHeroPicture()} + '.jpg'}" width="200"
                                 height="300">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img th:if="${session.selectedItems.getHelmet() == null}" class="mr-5 mb-1" width="100"
                                 height="90">
                            <img th:unless="${session.selectedItems.getHelmet() == null}" src="/img/helmet.jpg"
                                 class="mr-5 mb-1" width="100"
                                 height="90">
                        </div>
                        <div class="col-md-6">
                            <img th:if="${session.itemsOfOpponent.getHelmet() == null}" class="mr-5 mb-1" width="100"
                                 height="90">
                            <img th:unless="${session.itemsOfOpponent.getHelmet() == null}" src="/img/helmet.jpg"
                                 class="mr-5 mb-1" width="100"
                                 height="90">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <img th:if="${session.selectedItems.getWeapon() == null}" class="mr-5 mb-1" width="80"
                                 height="130">
                            <img th:unless="${session.selectedItems.getWeapon() == null}" src="/img/weapon.jpg"
                                 class="mr-5 mb-1" width="80"
                                 height="130">
                        </div>
                        <div class="col-md-2">
                            <img th:if="${session.selectedItems.getPauldron() == null}" class="mr-5 mb-1" width="100"
                                 height="130">
                            <img th:unless="${session.selectedItems.getPauldron() == null}" src="/img/pauldron.jpg"
                                 class="mr-5 mb-1" width="80"
                                 height="130">
                        </div>
                        <div class="col-md-2">
                            <img th:if="${session.selectedItems.getGauntlets() == null}" class="mr-5 mb-1" width="100"
                                 height="130">
                            <img th:unless="${session.selectedItems.getGauntlets() == null}" src="/img/gauntlet.jpg"
                                 class="mr-5 mb-1" width="80"
                                 height="130">
                        </div>
                        <div class="col-md-2">
                            <img th:if="${session.itemsOfOpponent.getWeapon() == null}" class="mr-5 mb-1" width="80"
                                 height="130">
                            <img th:unless="${session.itemsOfOpponent.getWeapon() == null}" src="/img/weapon.jpg"
                                 class="mr-5 mb-1" width="80"
                                 height="130">
                        </div>
                        <div class="col-md-2">
                            <img th:if="${session.itemsOfOpponent.getPauldron() == null}" class="mr-5 mb-1" width="100"
                                 height="130">
                            <img th:unless="${session.itemsOfOpponent.getPauldron() == null}" src="/img/pauldron.jpg"
                                 class="mr-5 mb-1" width="80"
                                 height="130">
                        </div>
                        <div class="col-md-2">
                            <img th:if="${session.itemsOfOpponent.getGauntlets() == null}" class="mr-5 mb-1" width="100"
                                 height="130">
                            <img th:unless="${session.itemsOfOpponent.getGauntlets() == null}" src="/img/gauntlet.jpg"
                                 class="mr-5 mb-1" width="80"
                                 height="130">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img th:if="${session.selectedItems.getPads() == null}" class="mr-5 mb-1" width="80"
                                 height="130">
                            <img th:unless="${session.selectedItems.getPads() == null}" src="/img/pads.jpg"
                                 class="mr-5 mb-1" width="80" height="130">
                        </div>
                        <div class="col-md-6">
                            <img th:if="${session.itemsOfOpponent.getPads() == null}" class="mr-5 mb-1" width="80"
                                 height="130">
                            <img th:unless="${session.itemsOfOpponent.getPads() == null}" src="/img/pads.jpg"
                                 class="mr-5 mb-1" width="80" height="130">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-secondary" th:href="@{'/heroes/fight'}">Fight</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>