<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <th:block th:if="${session.opponent == null}">
        <hr class="my-3"/>
        <div class="container">
            <div class="text-center">
                <h2>Няма герои, с които да се сражаваш.</h2>
            </div>
        </div>
    </th:block>
    <th:block th:unless="${session.opponent == null}">
        <hr class="my-3"/>
        <div class="container">
            <div class="text-center bg-blur">
                <h1>Fight</h1>
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="@{'/img/' + ${session.myHero.getGender().name().toLowerCase()} + '.jpg'}" width="150px" height="250"/>
                            <h3 class="align-middle"><span th:text="${session.myHero.getName()}"></span></h3>
                        </div>
                        <div class="col-md-4">
                            <h2>VS</h2>
<!--                            <h2><span th:text="${result}"></span> - winner</h2>-->
                        </div>
                        <div class="col-md-4">
                            <img th:src="@{'/img/' + ${session.opponent.getGender().name().toLowerCase()} + '.jpg'}" width="150px" height="250"/>
                            <h3 class="align-middle"><span th:text="${session.opponent.getName()}"></span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>