<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:if="${session.username == null}">
            <a class="navbar-brand text-white h4" href="/">Heroes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </th:block>
        <th:block th:unless="${session.username == null}">
            <a class="navbar-brand text-white h4" href="/home">Heroes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </th:block>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <th:block th:if="${session.username == null}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/users/register">Register</a>
                    </li>
                </th:block>
                <th:block th:unless="${session.username == null}">
                    <th:block th:if="${session.authorities.getAuthorities().size() == 2}">
                        <li class="nav-item mr-2">
                            <h5 class="nav-link text-white active h5">Hero</h5>
                            <ul class="dropdown">
                                <li><a class="nav-link text-white active h5" href="/heroes/create">Create</a></li>
                                <li><a class="nav-link text-white active h5" href="/heroes/ranking">Rankasdasdasdsing</a></li>
                                <li><a class="nav-link text-white active h5" href="/heroes/select">Fight</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/items/create">Create Item</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/offers/create">Create Offer</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/achievements/create">Create Achievement</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/heroes/ranking">Ranking</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/logout">Logout</a>
                        </li>
                    </th:block>
                    <th:block th:unless="${session.authorities.getAuthorities().size() == 2}">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/heroes/ranking">Ranking</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/logout">Logout</a>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>
    </nav>
</header>
