<th:block th:fragment>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Heroes</title>
        <link rel="stylesheet" href="/css/reset-css.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <script type="text/javascript" src="/js/selectTypeOfPay.js"></script>
        <script type="text/javascript" src="/js/selectPictureOfHero.js"></script>
        <script type="text/javascript" src="/js/selectPictureOfItem.js"></script>
        <script type="text/javascript" src="/js/cardNumber.js"></script>
        <script type="text/javascript" src="/js/expDate.js"></script>
        <script type="text/javascript" src="/js/window.js"></script>
    </head>
</th:block>