<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container">
        <div class="text-center">
            <div class="bg-blur">
                <h1 class="text-white">Profile</h1>
                <br>
                <h2>Username</h2>
                <h3><span th:text="${profile.getUsername()}"></span></h3>
                <br>
                <h2>Email</h2>
                <h3><span th:text="${profile.getEmail()}"></span></h3>
                <br>
                <h3>Gold: <span th:text="${profile.getGold()}"></span></h3>
                <br>
                <h3 class="align-middle">Wins/Battles:
                    <span th:text="${profile.getTotalWins()}"></span>/<span th:text="${profile.getTotalBattles()}"></span></h3>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
