.w-15 {
    width: 15%;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

body {
    background-image: url('../../img/arena.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

textarea {
    resize: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
}

ul {
    /*padding: 0;*/
    list-style: none;
    /*background: #f2f2f2;*/
}
ul li {
    /*display: inline-block;*/
    position: relative;
    /*line-height: 21px;*/
    text-align: left;
}
ul li a {
    display: block;
    /*padding: 8px 25px;*/
    /*color: #333;*/
    text-decoration: none;
}
/*ul li a:hover {*/
/*    color: #fff;*/
/*    background: #939393;*/
/*}*/
ul li ul.dropdown {
    /*min-width: 100%; !* Set width of the dropdown *!*/
    /*background: #343a40;*/
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li {
    display: block;
}