<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main class="container">
    <h1 class="text-center">Merchant</h1>
    <hr class="hr-3"/>
    <th:block th:if="${session.authorities.getAuthorities().size() == 2}">
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Name</th>
                <th scope="col">Slot</th>
                <th scope="col">Picture</th>
                <th scope="col">Stamina</th>
                <th scope="col">Strength</th>
                <th scope="col">Attack</th>
                <th scope="col">Defence</th>
            </tr>
            </thead>
            <th:block th:each="item : ${items}">
                <tbody>
                <tr>
                    <td><span th:text="${item.getName()}"></span></td>
                    <td><span th:text="${item.getSlot()}"></span></td>
                    <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150">
                    </td>
                    <td><span th:text="${item.getStamina()}"></span></td>
                    <td><span th:text="${item.getStrength()}"></span></td>
                    <td><span th:text="${item.getAttack()}"></span></td>
                    <td><span th:text="${item.getDefence()}"></span></td>
                    <td>
                        <form th:action="@{'/items/merchant/' + ${heroName}}"
                              th:object="${name}"
                              method="post">
                            <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                   class="form-control">
                            <button class="btn btn-info">Buy</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
    </th:block>
    <th:block th:unless="${session.authorities.getAuthorities().size() == 2}">
        <h2 class="text-black mt-2 text-center">Gold: [[${session.gold}]]</h2>
        <h2 class="text-center">Buy items with gold</h2>
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Name</th>
                <th scope="col">Slot</th>
                <th scope="col">Picture</th>
                <th scope="col">Stamina</th>
                <th scope="col">Strength</th>
                <th scope="col">Attack</th>
                <th scope="col">Defence</th>
                <th scope="col">Price in Gold</th>
            </tr>
            </thead>
            <th:block th:each="item : ${itemsWithGold}">
                <tbody>
                <tr>
                    <td><span th:text="${item.getName()}"></span></td>
                    <td><span th:text="${item.getSlot()}"></span></td>
                    <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150">
                    </td>
                    <td><span th:text="${item.getStamina()}"></span></td>
                    <td><span th:text="${item.getStrength()}"></span></td>
                    <td><span th:text="${item.getAttack()}"></span></td>
                    <td><span th:text="${item.getDefence()}"></span></td>
                    <td><h5 class="align-middle">
                        <span th:text="${item.getPriceInGold()}"></span> gold
                    </h5></td>
                    <td>
                        <form th:action="@{'/items/merchant/' + ${heroName}}"
                              th:object="${name}"
                              method="post">
                            <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                   class="form-control">
                            <button class="btn btn-info">Buy</button>
                        </form>
                        <th:block th:unless="${session.text == null}">
                            <span th:text="${session.text}"></span></th:block>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <h2 class="text-center text-white">Buy items with money</h2>
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Name</th>
                <th scope="col">Slot</th>
                <th scope="col">Picture</th>
                <th scope="col">Stamina</th>
                <th scope="col">Strength</th>
                <th scope="col">Attack</th>
                <th scope="col">Defence</th>
                <th scope="col">Price in Money</th>
            </tr>
            </thead>
            <th:block th:each="item : ${itemsWithMoney}">
                <tbody>
                <tr>
                    <td><span th:text="${item.getName()}"></span></td>
                    <td><span th:text="${item.getSlot()}"></span></td>
                    <td><img th:src="@{'/img/' + ${item.getItemPicture()} + '.jpg'}" width="150">
                    </td>
                    <td><span th:text="${item.getStamina()}"></span></td>
                    <td><span th:text="${item.getStrength()}"></span></td>
                    <td><span th:text="${item.getAttack()}"></span></td>
                    <td><span th:text="${item.getDefence()}"></span></td>
                    <td><h5 class="align-middle">
                        <span th:text="${item.getPriceInMoney()}"></span> лв.
                    </h5></td>
                    <td>
                        <form th:action="@{'/items/merchant/' + ${heroName}}"
                              th:object="${name}"
                              method="post">
                            <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                   class="form-control">
                            <button class="btn btn-info">Buy</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <h2 class="text-center text-white">Buy offer with money</h2>
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Name</th>
                <th scope="col">Gold</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <th:block th:each="offer : ${offers}">
                <tbody>
                <tr>
                    <td><span th:text="${offer.getName()}"></span></td>
                    <td><h5 class="align-middle">
                        <span th:text="${offer.getGold()}"></span> gold
                    </h5></span></td>
                    <td><h5 class="align-middle">
                        <span th:text="${offer.getPrice()}"></span> лв.
                    </h5></td>
                    <td>
                        <form th:action="@{'/items/merchant/' + ${heroName}}"
                              th:object="${name}"
                              method="post">
                            <input hidden type="text" th:value="${offer.getName()}" th:attr="name='name'"
                                   class="form-control">
                            <button class="btn btn-info">Buy</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
    </th:block>
    <br>
    <div class="col text-center">
        <a class="btn btn-secondary" th:href="@{'/heroes/select'}">Back</a>
    </div>
    <br>
    <br>
    <br>
    <br>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>