<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main class="container">
    <h1 class="text-center">Merchant</h1>
    <hr class="hr-3"/>
    <th:block th:if="${session.authorities.getAuthorities().size() == 2}">
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Name</th>
                <th scope="col">Slot</th>
                <th scope="col">Picture</th>
                <th scope="col">Stamina</th>
                <th scope="col">Strength</th>
                <th scope="col">Attack</th>
                <th scope="col">Defence</th>
            </tr>
            </thead>
            <th:block th:each="item : ${items}">
                <tbody>
                <tr>
                    <td><span th:text="${item.getName()}"></span></td>
                    <td><span th:text="${item.getSlot()}"></span></td>
                    <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                    </td>
                    <td><span th:text="${item.getStamina()}"></span></td>
                    <td><span th:text="${item.getStrength()}"></span></td>
                    <td><span th:text="${item.getAttack()}"></span></td>
                    <td><span th:text="${item.getDefence()}"></span></td>
                    <td>
                        <form th:action="@{'/items/merchant/' + ${heroName}}"
                              th:object="${itemName}"
                              method="post">
                            <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                   class="form-control">
                            <button class="btn btn-info">Buy</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
    </th:block>
    <th:block th:unless="${session.authorities.getAuthorities().size() == 2}">
        <h2 class="text-black mt-2 text-center">Gold: [[${session.gold}]]</h2>
        <h2 class="text-center">Buy items with gold</h2>
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Name</th>
                <th scope="col">Slot</th>
                <th scope="col">Picture</th>
                <th scope="col">Stamina</th>
                <th scope="col">Strength</th>
                <th scope="col">Attack</th>
                <th scope="col">Defence</th>
                <th scope="col">Price in Gold</th>
            </tr>
            </thead>
            <th:block th:each="item : ${itemsWithGold}">
                <tbody>
                <tr>
                    <td><span th:text="${item.getName()}"></span></td>
                    <td><span th:text="${item.getSlot()}"></span></td>
                    <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                    </td>
                    <td><span th:text="${item.getStamina()}"></span></td>
                    <td><span th:text="${item.getStrength()}"></span></td>
                    <td><span th:text="${item.getAttack()}"></span></td>
                    <td><span th:text="${item.getDefence()}"></span></td>
                    <td><h5 class="align-middle">
                        <span th:text="${item.getPriceInGold()}"></span> gold
                    </h5></td>
                    <td>
                        <form th:action="@{'/items/merchant/' + ${heroName}}"
                              th:object="${itemName}"
                              method="post">
                            <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                   class="form-control">
                            <button class="btn btn-info">Buy</button>
                        </form>
                        <th:block th:unless="${session.text == null}">
                            <span th:text="${session.text}"></span></th:block>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <h2 class="text-center text-white">Buy items with money</h2>
        <table class="table bg-blur">
            <thead>
            <tr>
                <th scope="col" class="font-weight-bold">Name</th>
                <th scope="col">Slot</th>
                <th scope="col">Picture</th>
                <th scope="col">Stamina</th>
                <th scope="col">Strength</th>
                <th scope="col">Attack</th>
                <th scope="col">Defence</th>
                <th scope="col">Price in Money</th>
            </tr>
            </thead>
            <th:block th:each="item : ${itemsWithMoney}">
                <tbody>
                <tr>
                    <td><span th:text="${item.getName()}"></span></td>
                    <td><span th:text="${item.getSlot()}"></span></td>
                    <td><img th:src="@{'/img/' + ${item.getSlot().name().toLowerCase()} + '.jpg'}" width="150">
                    </td>
                    <td><span th:text="${item.getStamina()}"></span></td>
                    <td><span th:text="${item.getStrength()}"></span></td>
                    <td><span th:text="${item.getAttack()}"></span></td>
                    <td><span th:text="${item.getDefence()}"></span></td>
                    <td><h5 class="align-middle">
                        <span th:text="${item.getPriceInMoney()}"></span> лв.
                    </h5></td>
                    <td>
                        <form th:action="@{'/items/merchant/' + ${heroName}}"
                              th:object="${itemName}"
                              method="post">
                            <input hidden type="text" th:value="${item.getName()}" th:attr="name='name'"
                                   class="form-control">
                            <button class="btn btn-info">Buy</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
    </th:block>
    <!--    <button onclick="myFunction()">Try it</button>-->

    <!--    <div id="myDIV">-->
    <!--        This is my DIV element.-->
    <!--    </div>-->

    <!--    <script>-->
    <!--        function myFunction() {-->
    <!--            var x = document.getElementById("myDIV");-->
    <!--            if (x.style.display === "none") {-->
    <!--                x.style.display = "block";-->
    <!--            } else {-->
    <!--                x.style.display = "none";-->
    <!--            }-->
    <!--        }-->
    <!--    </script>-->
    <!--    todo Да правя логиката за потребител-->
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>