<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="text-center mb-3">
        <h2 class="text-black mt-2">Welcome to the arena, [[${session.username}]]</h2>
        <th:block th:if="${session.authorities.getAuthorities().size() == 1}">
            <h2 class="text-black mt-2">Gold: [[${session.gold}]]</h2>
        </th:block>
    </div>
        <hr class="my-3"/>
        <div class="container">
            <h3> Ако искаш да станеш най-силния играч с един или армия от герой, влез в
                <a href="/heroes/create">Create Hero</a> и сбъдни мечтите си.
            </h3>
            <h3>Готов ли се вече за битка? Влез в <a href="/heroes/select">Select hero</a>,
                избери си герой и да започваме.
            </h3>
        </div>
    </th:block>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>
